.more-movies {
  margin: 0 auto;
  padding: 50px 0 80px;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  justify-content: center;
}

.more-movies__button {
  width: 89%;
  height: 36px;
  background-color: rgba(47, 47, 47, 1);
  border-radius: 6px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 800px) {
  .more-movies {
    padding: 50px 0 80px;
  }

  .more-movies__button {
    width: 92%;
  }
}

@media (max-width: 400px) {
  .more-movies__button {
    width: 94%;
  }
}
