.progect-navigation {
  width: 100%;
  min-height: 66px;
  background-color: rgba(39, 39, 39, 1);
}

.progect-navigation__elements {
  padding: 0;
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.progect-navigation__element {
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.progect-navigation__link {
  color: rgb(255, 255, 255, 1);
}

@media (max-width: 400px) {
  .progect-navigation__elements {
    margin: 25px 0;
    gap: 24px;
  }

  .progect-navigation__element {
    font-size: 11px;
    text-align: center;
  }
}
